@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: FuturaPT;
        font-weight: 400;
        src: url('/fonts/FuturaPTBook.otf') format('opentype');
    }

    @font-face {
        font-family: FuturaPT;
        font-weight: 700;
        src: url('/fonts/FuturaPTMedium.otf') format('opentype');
    }

    body {
        font-family: FuturaPT;
    }

    ::selection {
        color: #fff;
        background-color: #0000ff;
    }
}
